<?xml version="1.0" encoding="utf-8"?>
<!--
     This configuration file is required if iisnode is used to run node processes behind
     IIS or IIS Express.  For more information, visit:

     https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config

	 https://www.mattburkedev.com/iis-rewrite-rule-for-single-page-apps/
-->

<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="SPA Routes" stopProcessing="true">
					<!-- match everything by default -->
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<!-- unless its a file -->
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<!-- or a directory -->
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<!-- or is under the /api directory -->
						<add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
						<!-- list other routes or route prefixes here if you need to handle them server side -->
					</conditions>
					<!-- rewrite it to /index.html -->
					<action type="Rewrite" url="/index.html" />
				</rule>

				<!-- https://www.namecheap.com/support/knowledgebase/article.aspx/9953/38/iis-redirect-http-to-https -->
				<rule name="HTTPS force" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
				</rule>

				<!-- https://stackoverflow.com/questions/17714732/web-config-redirect-non-www-to-www -->
				<!-- <rule name="Special case www and HTTPS off" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTP_HOST}" pattern="^www\.icra\.co.nz$" />
						<add input="{HTTPS}" pattern="off" />
					</conditions>
					<action type="Redirect" url="https://www.icra.co.nz/{R:1}" redirectType="SeeOther" />
				</rule>

				<rule name="Redirect to www and HTTPS" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions trackAllCaptures="false">
						<add input="{HTTP_HOST}" pattern="^icra\.co.nz$" />
					</conditions>
					<action type="Redirect" url="{MapProtocol:{HTTPS}}://www.icra.co.nz/{R:1}" redirectType="SeeOther" />
				</rule> -->
			</rules>
			
			<rewriteMaps>
				<rewriteMap name="MapProtocol">
					<add key="on" value="https" />
					<add key="off" value="http" />
				</rewriteMap>
			</rewriteMaps>
		</rewrite>
	</system.webServer>
	
	<!-- https://stackoverflow.com/questions/26600845/how-to-disable-caching-of-single-page-application-html-file-served-through-iis -->
    <!-- https://stackoverflow.com/questions/49547/how-to-control-web-page-caching-across-all-browsers -->
    <location path="index.html">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
					<remove name="X-Powered-By" />
					<remove name="Server" />
                    <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
                    <add name="Pragma" value="no-cache" />
                    <add name="Expires" value="0" />
					<add name="X-Frame-Options" value="SAMEORIGIN" />
					<add name="X-Xss-Protection" value="1; mode=block" />
					<add name="X-Content-Type-Options" value="nosniff" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
</configuration>